img, video{
    max-width:100%; 
    height:auto;
}


body {
    background-color: rgba(233, 122, 207, 0.9); 
}    

main{
    max-width:800px;
    margin-inline: auto;
}

figure{
    margin-bottom: 20px;
    margin-left:50;
    margin-right:50;
}